mixin section(title)
	section.section
		.container.has-text-justified
			.content
				h1.dynamicHeader= title
				block

mixin dynamicSection(title, identifier)
	section.section
		.container.has-text-centered
			.content
				h2.dynamicHeader(class="dynamicHeader-" + identifier)= title
				p.dynamicContent(class="dynamicContent-" + identifier)
				block

mixin icon(iconClasses, spanClasses)
	span.icon(class=spanClasses)
		i.fas(class=iconClasses)