include body.pug

footer.footer
	.container.has-text-grey
		p: .level
			level-left: level-item: span © 2018 eduLime
			level-right: level-item
				span &nbsp; contact@eduli.me
	script(src="https://cdn.jsdelivr.net/combine/npm/jquery@3,npm/lodash@4,npm/html5shiv@3,npm/html5shiv@3/dist/html5shiv-printshiv.min.js,npm/socket.io-client@2/dist/socket.io.min.js")
	//- script(src="lib/bulma-extensions.min.js")
	script(src="lib/bulma-quickview.min.js")
	script(src="js/all.js")