head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	title eduLime
	meta(name="description" content="")
	meta(name="author" content="Brandon Yee")
	link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")

	//- Load CSS frameworks from jsDelivr CDN.
	link(rel="stylesheet", href="https://cdn.jsdelivr.net/combine/npm/normalize.css@8,npm/animate.css@3")
	link(rel="stylesheet", type="text/css", href="/css/main.css")
	link(rel="stylesheet", type="text/css", href="/lib/bulma-extensions.min.css")
	script(defer, src="https://use.fontawesome.com/releases/v5.0.9/js/all.js")

	style.
		article {
			padding: 3rem 0px;
		}